body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.ibm-plex sans-regular-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.hidden{
  display: none !important;
}

.no-scroll{
  overflow: hidden;
}

.scroll{
  overflow: scroll;
}



/*----------------NAV------------------*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(20, 17, 17);
  height: 64px;
  width: 100vw;
  position: fixed;
  top: 0;
}

#menuMobile {
  display: none;
}

#blocco1 img {
  height: 4%;
  margin-left: 15%;
}

#sfondoR {
  position: relative;
  background-color: rgb(171, 24, 24);
  height: 100%;
  width: 42%;

  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0 100%);
}

.barraRicerca {
  position: absolute;

  color: rgb(141, 141, 141);
  
  height: 75%;
  width: 90%;

  display: flex;
  align-items: center;
}

.barraRicerca input {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
  width: 100%;
  height: 100%;
  clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0 100%);
  padding-left: 30px;
}

#bloccoNero {
  display: flex;
  justify-content: space-between;
  width: 100px;
  color: white;
}

.bloccoR {
  padding-right: 50px;
  margin-right: -40px;

  display: flex;
  background-color: rgb(171, 24, 24);
  align-items: center;
  height: 100%;
  width: 19%;
  color: white;
  right: 0;

  padding-left: 20px;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0 100%);
}

#BloccoItemsR {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.itemsR {
  margin-left: 10px;
}

.link-nav{
  text-decoration: none;
  color: white;
}


/*----------------------HEADER------------------*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 100vw;
  background-color: rgb(232, 231, 231);
  border-bottom: 1px solid rgb(184, 184, 184);
  position: fixed;
  top: 64px;
}

header a {
  margin-right: 28px;
  color: black;
  font-style: normal;
  text-decoration: none;
}

header span {
  margin-right: 30px;
}

#linkRosso {
  color: red;
}

#bottoni {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 8%;
}

#barraMobile {
  display: none;
}

#menu {
  width: 30px;
  margin-right: 5px;
}

#spedizione {
  width: 390px;
  margin-left: 38px;
}


#sopraFooter{
  max-width: 100vw;
  margin-bottom: 25px;
}

.sopraF img{
  display: block;
  width: 100vw;
  height: 300px;
}

.sopraFmobile{
  display: none;
}

#pagamentoAgevolato{
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
}

.testoPA{
  height: 1px;
  background-color: rgb(207, 202, 202);
  width: 10%;
  margin-left: 5px;
  margin-right: 5px;
}

#blocchiPA{
  display: flex;
  justify-content: space-around;
  
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 100px;
}

.subBlocchiPA{
  height: auto;
  width: 30%;
  background-color: rgb(255, 255, 255);
  
}

.subBlocchiPA img{
  height: auto;
  width: 100%;
  object-fit: cover;
}

section {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.itemsMain {
  height: 360px;
  width: 230px;
  border: 2px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsMain2 a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.img_product{
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 170px;
  width: 100%;
}

.img_product img{
  height: 100%;
  width: 100%;
  /*motivo per cui un immagine in home si ritaglia*/
  object-fit: cover;
}

.itemsMain2{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.itemsMain2 span{
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  height: 90px;
}

.itemsMain3{
  margin-top: 20px;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
}

.bottone_carrello{
  margin-top: 10px;
  border: none;
  height: 40px;
  width: 80px;
  background-color: rgb(171, 24, 24);
  color: white;
  cursor: pointer;
}

.bottone_carrello:hover{
  background-color: rgb(112, 30, 30);
}

.salvato{
  color: red;
  font-style: italic;
  font-weight: 200;
}